@charset "UTF-8";

body{
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table{
    width: 1000px;
    border-collapse: collapse;
    }

caption{
    font-size: 1,2em;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

tbody > tr:nth-child(even){
background-color: lightgray;
}

div#container{
    overflow-x: auto;
}